<!DOCTYPE html>
<html>
<head>
	<title>Kshitij Dhyani</title>
	<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="\css\home_css.css">
	<!-- CSS RESETTER -->
		<link rel="stylesheet" type="text/css" href="\css\css_resetter.css">

	<!-- GRID DEBUGGER -->
		<!-- <link rel="stylesheet" type="text/css" href="\css\grid_debugger.css">
 -->
	<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- JAVASCRIPT -->
		<script type="text/javascript" src="/js/home_js.js"></script>


	<!-- JQUERY -->
		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>

	<!-- FONT AWSOME -->
		<script src="https://use.fontawesome.com/47a92560c0.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">


</head>
<body>
	<div id="home_page_nav_bar" class="row">
		<form id="logout_form" action="/logout" method="POST">
			<span onclick="logout()" id="decorations_of_logout">Logout</span>
		</form>	
	</div>
	<div id="box_for_search_bar" class="row">
		<form id="search_box_form">
			<input id="search_box" placeholder="Search" type="text" name="">
		</form>
	</div>
	<div id="box_for_sort_options" class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1">
			<form id="post_selection_for_home_sort_by_random" action="/home" method="POST">
				<span onclick="sort_by_random()" id="decorations_of_by_sort_sort">Random  </span>
			</form>
		</div>
		<div class="col-lg-1">
			<form id="post_selection_for_home_sort_by_name" action="/home_sort_by_name" method="POST">
				<span onclick="sort_by_name()" id="decorations_of_by_name_sort">By name</span>
			</form>
		</div>
		<div class="col-lg-1">
			<form id="post_selection_for_home_sort_by_year" action="/home_sort_by_year" method="POST">
				<span onclick="sort_by_year()" id="decorations_of_by_year_sort">By year</span>
			</form>
		</div>
		<div  class="col-lg-1">
			<form id="post_selection_for_home_sort_by_rating" action="/home_sort_by_rating" method="POST">
				<span onclick="sort_by_rating()" id="decorations_of_by_rating_sort">By rating</span>
			</form>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
		<div class="col-lg-1"></div>
	</div>
	<!-- 	<%for(var i = 0 ; i< list_of_movies.Sheet1.length ;i++ ) {%>
			<p><%=list_of_movies.Sheet1[i].Movie_name%></p>
		<%}%> -->

	<div id="box_for_all_the_cards">



		<% for(var i = 0 ; i < list_of_movies.Sheet1.length - 3   ; i=i+3 ) { 
		console.log(i);

		%>

			<div class="row all_rows_of_cards" >
				<div class="col-lg-4 ">
					<div class="vertical_1">
						<div class="card" style="width: 18rem;">
						  <img src="<%= '/photos/' + list_of_all_the_thumbnails[Math.floor(Math.random()* (23 - 0) + 0)] + '.jpg'%>" class="card-img-top" alt="MOVIE">
						  <div class="card-body">
						    <h5 style="margin-bottom: 0px;" class="card-title"><%=list_of_movies.Sheet1[i].Movie_name%></h5>
						      <%for(var j =0 ; j< list_of_movies.Sheet1[i].Star_rating ; j++ )
						     {
						     	%>
						     	
						     	<i class="fas fa-star"></i>
						     	
						     <%}%>
						     <br>
						     <form id="info_symbol_form" action="/info_page/<%=list_of_movies.Sheet1[i].Movie_name%>/<%=list_of_movies.Sheet1[i].Star_rating%>/<%=list_of_movies.Sheet1[i].Year%>" method="GET">
							     <button type="submit" type="button" class="btn btn-dark">info</button>
							  </form>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ">
					<div class="vertical_2">
						<div class="card" style="width: 18rem;">
						  <img src="<%= '/photos/' + list_of_all_the_thumbnails[Math.floor(Math.random()* (23 - 0) + 0)] + '.jpg'%>" class="card-img-top" alt="MOVIE">
						  <div class="card-body">
						    <h5 style="margin-bottom: 0px;" class="card-title"><%=list_of_movies.Sheet1[i+1].Movie_name%></h5>
						     <%for(var j =0 ; j< list_of_movies.Sheet1[i+1].Star_rating ; j++ )
						     {
						     	%>

						     	<i class="fas fa-star"></i>

						     <%}%>
						     <br>
						     <form id="info_symbol_form" action="/info_page/<%=list_of_movies.Sheet1[i+1].Movie_name%>/<%=list_of_movies.Sheet1[i+1].Star_rating%>/<%=list_of_movies.Sheet1[i+1].Year%>" method="GET">
							     <button onclick="info_symbol()" type="button" class="btn btn-dark">info</button>
							  </form>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ">
					<div class="vertical_3">
						<div class="card" style="width: 18rem;">
						  <img src="<%= '/photos/' + list_of_all_the_thumbnails[Math.floor(Math.random()* (23 - 0) + 0)] + '.jpg'%>" class="card-img-top" alt="MOVIE">
						  <div class="card-body">
						    <h5 style="margin-bottom: 0px;" class="card-title"><%=list_of_movies.Sheet1[i+2].Movie_name%></h5>
						     <%for(var j =0 ; j< list_of_movies.Sheet1[i+2].Star_rating ; j++ )
						     {
						     	%>
						     	
						     	<i class="fas fa-star"></i>
						     	
						     <%}%>
						     <br>
						    <form id="info_symbol_form" action="/info_page/<%=list_of_movies.Sheet1[i+2].Movie_name%>/<%=list_of_movies.Sheet1[i+2].Star_rating%>/<%=list_of_movies.Sheet1[i+2].Year%>" method="GET">
							     <button onclick="info_symbol()" type="button" class="btn btn-dark">info</button>
							  </form>
						  </div>
						</div>
					</div>
				</div>
			</div>

			

		<% } %>
	</div>
</body>
</html>